#nav {
    background-color: #dca123;
    width: 100%;
    height: 150px;
}

#logo {
    height: 150;
    margin-left: 50px;
}

.par-nav {
    background-color: #dca123;
    width: 100%;
    height: 75px;
}

.par-logo {
    height: 75px;
    margin-left: 50px;
}